*{
    box-sizing: border-box;
    margin: 0px;
    color: white
}

body {
    background-color: rgb(231, 167, 178);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainTitle {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.recipelist{
    margin: auto;
    text-align: center;
}

.recipelist ul{
    display: inline-block;
    list-style: none;
}

.recipelist li {
    margin: 40px
}

.recipelist a {
    text-decoration: none;
    padding: 15px;
    background-color: #d35656;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.recipelist a:hover {
    background-color: #d35656a9;
}

.recipelist a:hover{
    color: white;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d35656;
    color: white;
    font-weight: 500;
    width: 750px;
    border-radius: 5px;
    margin: 120px auto 40px

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    filter: drop-shadow(8px 8px 5px rgba(116, 116, 116, 0.397));
    border-radius: 5px;

}
.recipecontent {
    margin: 40px auto;
    width: 750px;
    background-color: #d35656;
    border-radius: 5px;
    padding: 40px;
    overflow: auto;
}

.ingredients, .steps {
    display: flex;
    margin: auto;
    width: 50%;
}

.ingredients{
    float:left;
}

.steps{
    float:right;
}

p {
    margin: 30px auto;
}

h3 {
    color: white;
}